table,th,td {
    border: 2px solid red;
    border-collapse: collapse;
    padding: 10px;
}

img{
    width: 30px;
}
table{
    width: 100%;
    background-color: gray;
}

th {
    background-color: green;
    color: white;

}

td{
    text-align: center;

}

tbody tr:nth-of-type(odd) {
    background-color: white;
}

.badge {
    width: 20px;
    background-color: blue;
    border-radius: 50%;
    
}